#app{
  height: 100%;
	max-width: 420px;
	margin-top: 60px;
	/*background: white;*/
  background: linear-gradient(135deg, #ff7a32 0%,#fff138 100%);
	max-height: 600px;
	box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
}
html, body{
height: 100%;
}
html{
	background: #f3f3f3;
}

body{
	background-color: transparent!important;
}

p, h1, h2{
  color: white;
}

.text-center{
  text-align: center;
}
#top{
  height: 50%;
  width: 100%;
}  

#bottom{
  height: 50%;
  width: 100%;
} 

/* weather forecast */
#temp{
  margin-bottom: 0;
  font-size:  6rem;
}

/* weather forecast */
.wi-main{
  font-size:  5.3rem;
}

/* Geo-suggest */

.geosuggest { 
  width: 100%;
  margin: 0;
  margin-top: 20px;
  float: right;
}

.geosuggest__input {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 4px solid white;
  box-shadow: none;
  background: transparent;
  position: relative;
  float:right;
  padding: 0;
  color: #fff;
}    

.geosuggest__input.expanded {
  border-radius: 0;
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 4px solid white;
  box-shadow: none;
  background: transparent;
  position: relative;
}    

.geosuggest__input.expand {
  animation-name: inputChange;
  animation-duration: 1s;
  animation-direction: alternate;
  /*transition: 1s ease-in-out;*/
}    

.geosuggest__input.contract {
  animation-name: inputChange;
  animation-duration: 1s;
  animation-direction: reverse;
}    


.geosuggest__input:focus {
    border-color: white; 
    /* box-shadow: 0 0 0 transparent; */
    outline: none;
}

.geosuggest__input-wrapper{
  position: absolute;
  right: 0;
  width: 100%;
}
    
.geosuggest>.geosuggest__input-wrapper>label {
  z-index: 3;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  display: block;
  float: right;

}

.geosuggest.contract>.geosuggest__input-wrapper>label:before {
  animation-name: xR-Change;
  animation-direction: reverse;
  animation-duration: 1s;
}

.geosuggest.contract>.geosuggest__input-wrapper>label:after {
  animation-name: xL-Change;
  animation-direction: reverse;
  animation-duration: 1s;
}

.geosuggest>.geosuggest__input-wrapper>label:before {
  display: block;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: 38px;
  margin-left: 28px;
}

.geosuggest>.geosuggest__input-wrapper>label:after {
  display: block;
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: 38px;
  margin-left: 28px;
}

.geosuggest.expanded>.geosuggest__input-wrapper>label:before {
  margin-top: 16px;
  margin-left:  16px;
  display: block;
  content: "";
  position: absolute;
  width: 24px;
  height: 4px;
  background-color: #fff;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.geosuggest.expanded>.geosuggest__input-wrapper>label:after {
  display: block;
  content: "";
  position: absolute;
  width: 24px;
  height: 4px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: 16px;
  margin-left:  16px;
}

.geosuggest.expand>.geosuggest__input-wrapper>label:after {
  animation-name: xL-Change;
  animation-duration: 1s;
}

.geosuggest.expand>.geosuggest__input-wrapper>label:before {
  animation-name: xR-Change;
  animation-duration: 1s;
}

.geosuggest__suggests{
  background-color: rgba(255, 255, 255, 0.65);
  top: 40px;
  border: none;
}

/* Toggle */

.temp-toggle {
  visibility: hidden;
}
.temp-toggle + label {
  margin-top: -5px;
  z-index: 3;
  margin-right: 10px;
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.temp-toggle + label {
  width: 40px;
  height: 36px;
  text-align: center;
  line-height: 36px;
}
input.temp-toggle + label:before,
input.temp-toggle + label:after {
  display: block;
  position: absolute;
}
input.temp-toggle + label:before {
  top: 4px;
  left: 24px;
  bottom: 0px;
  right: 0px;
  transition: all 0.4s;
  color: white;
  font-size: 20px;
  line-height: 20px;
  content: "F";
}

input.temp-toggle + label:after {
  content: "C";
  text-align: center;
  top: 0px;
  left: 0px;
  bottom: 0px;
  /*width: 40px;*/
  color: #fff;
  font-size: 36px;
  transition: all 0.4s;
}

input.temp-toggle:checked + label:after {
  font-size: 20px;  
  margin-top: 4px;
  margin-left: 24px;
  line-height: 20px;
  color: white;
}

input.temp-toggle:checked + label:before {
  line-height: 36px;
  margin-top: -4px;
  margin-left: -40px;
  font-size: 36px;
  color: white;
}

@keyframes xL-Change {
  25%,45% {
    margin-top: 16px;
    margin-left: 20px;
    width: 0;
    height: 0;
  }
  80%, 100% {
    margin-top: 16px;
    margin-left:  16px;
    display: block;
    content: "";
    position: absolute;
    width: 24px;
    height: 4px;
    background-color: #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

}

@keyframes xR-Change {
  25%,45% {
    margin-top: 16px;
    margin-left:  20px;
    width: 0;
    height: 0;
  }
  80%, 100% {
    margin-top: 16px;
    margin-left:  16px;
    display: block;
    content: "";
    position: absolute;
    width: 24px;
    height: 4px;
    background-color: #fff;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
  }

}

@keyframes inputChange {
  25% {
    margin-top: 20px;
    margin-right:  20px;
    width: 0;
    height: 0;
  }
  45% {
    margin-top: 0;
    margin-right: 0;
    border-radius: 0;
    height: 40px;
  }
  80% {
    height: 40px;
    width: 100%;
    border: none;
    border-bottom: 4px solid white;
  }
  100% {
    border-radius: 0;
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 4px solid white;
  }
}

#main{
  position: relative;
  height: 100%;
}  

.main-wrapper{
  width: 100%;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
}  